@charset "UTF-8";

@font-face {
    font-family: komorebiGothic;
    src: url('/fonts/komorebi-gothic.woff');
}

html {
    height: 100%;
}
  
body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, system-ui, "Helvetica Neue", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-size: 14px;
}

/*
|--------------------------------------------------------------------------
|  common
|--------------------------------------------------------------------------
*/

.display-none {
    display: none !important;
}

.sp {
    display: none !important;
}

.pagination li.active {
    background-color: #00838f;
}

/*
|--------------------------------------------------------------------------
|  loading
|--------------------------------------------------------------------------
*/

.load-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1999;
}

.load{
    position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
    z-index: 2000;
}

.load hr{
    border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite
}

.load :first-child{background: #19A68C; animation-delay: -1.5s}
.load :nth-child(2){background: #F63D3A; animation-delay: -1s}
.load :nth-child(3){background: #FDA543; animation-delay: -0.5s}
.load :last-child{background: #193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}

/*
|--------------------------------------------------------------------------
|  navigation
|--------------------------------------------------------------------------
*/

.header {
    position: fixed;
    z-index: 100;
}

.header-logo {
    float: left;
    width: 60px;
    padding-top: 3px;
    margin: 0 10px;
}

.sidebar {
    position: fixed;
    height: auto;
    min-height: 100%;
    padding: 0;
    width: 180px;
    z-index: 99;
}

.sidebar .collection {
    margin: 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.sidebar .collection-item {
    padding: 15px 20px;
}

.sidebar a.collection-item {
    color: #ffffff;
    font-size: 16px;
    background-color: #00838f;
}

.sidebar a.collection-item:hover {
    color: #00838f;
}

.sidenav {
    background-color: #00838f;
}

.sidenav.collection {
    border: none;
}

.sidenav.collection .collection-item {
    padding: 15px 20px;
}

.sidenav.collection .collection-item {
    border-bottom: 1px solid #e0e0e0;
}

.sidenav a.collection-item {
    font-size: 16px;
    color: #ffffff;
    background-color: #00838f;
}

.sidenav a.collection-item:hover {
    color: #00838f;
}

.floating-btn i{
    font-size: 2.6rem;
}

/*
|--------------------------------------------------------------------------
|  contents
|--------------------------------------------------------------------------
*/

.wrapper {
    position: relative;
    top: 64px;
    left: 0;
    display: flex;
    height: 100%;
}

.contents {
    height: 100%;
    width: 100%;
    padding-left: 180px;
}

/*
|--------------------------------------------------------------------------
|  common-modal
|--------------------------------------------------------------------------
*/

.common-modal__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}


/*
|--------------------------------------------------------------------------
|  form-modal
|--------------------------------------------------------------------------
*/

.form-modal__title {
    color: #ffcc43;
    font-weight: bold;
    font-family: komorebiGothic;
}

.form-modal__input-wrapper {
    margin-bottom: 0;
}

.input-field.form-modal__input-text input[type=url]:focus + label {
    color: #ffcc43;
}

.input-field.form-modal__input-text input[type=url]:focus {
    border-bottom: 1px solid #ffcc43;
    box-shadow: 0 1px 0 0 #ffcc43;
}

.input-field.form-modal__input-text input[type=url].valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field.form-modal__input-text input[type=url].invalid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field.form-modal__input-text input[type=text]:focus + label {
    color: #ffcc43;
}

.input-field.form-modal__input-text input[type=text]:focus {
    border-bottom: 1px solid #ffcc43;
    box-shadow: 0 1px 0 0 #ffcc43;
}

.input-field.form-modal__input-text input[type=text].valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field.form-modal__input-text input[type=text].invalid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field.form-modal__input-text textarea:focus + label {
    color: #ffcc43;
}

.input-field.form-modal__input-text textarea:focus {
    border-bottom: 1px solid #ffcc43;
    box-shadow: 0 1px 0 0 #ffcc43;
}

.input-field.form-modal__input-text textarea.valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field.form-modal__input-text textarea.invalid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #9e9e9e;
}

.input-field.form-modal__input-text textarea.materialize-textarea {
    color: #9e9e9e;
}

.form-modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-modal__btn {
    height: 50px;
}

.form-modal__tag-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 .75rem;
}

.form-modal__tag-title {
    color: #9e9e9e;
    margin: 0;
}

.chips .input {
    color: #9e9e9e;
}

.chips.focus {
    border-bottom: 1px solid #ffcc43;
    box-shadow: 0 1px 0 0 #ffcc43;
}

.chips .input::placeholder {
    color: #9e9e9e;
}

/*
|--------------------------------------------------------------------------
|  done-modal
|--------------------------------------------------------------------------
*/

.done-modal__text {
    font-size: 28px;
}

/*
|--------------------------------------------------------------------------
|  index
|--------------------------------------------------------------------------
*/

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    height: 300px;
    background-image: url('/img/bg.png');
    background-size: cover;
}

.top-section__title {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: komorebiGothic;
    margin-bottom: 0;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 16em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}


.top-section__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.top-section__btn {
    width: 200px;
    height: 50px;
}

.section {
    padding: 10px 30px 60px;
}

.section__title {
    font-family: komorebiGothic;
    text-align: center;
}

.section__more-link {
    padding: 10px;
}

.rank-section__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rank-section__item {
    width: 250px;
    margin-right: 40px;
    cursor: pointer;
}

.section__link-table {
    margin-bottom: 10px;
}

.card .card-action {
    padding: 5px 10px;
}

.rank-section__item-count{
    text-align: center;
    cursor: default;
}

.rank-section__item-footer {
    display: flex;
    justify-content: space-between;  
    align-items: center; 
}

.rank-section__item-title {
    margin-top: 0;
}

.rank-section__item-access {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0;
    font-size: 20px;
}

.rank-section__item-access-icon {
    padding-right: 8px;
    font-size: 30px;
}

/*
|--------------------------------------------------------------------------
|  search
|--------------------------------------------------------------------------
*/

.search-section {
    padding: 10px 30px;
}

.search-section__tags {
    padding-top: 20px;
}

.search-section__tag {
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
}

.search-section__tag:hover {
    color: #ffffff;
    background-color: #00838f;
}

/*
|--------------------------------------------------------------------------
|  max-width: 993px
|--------------------------------------------------------------------------
*/

@media screen and (max-width: 993px) {
    .sidebar {
        display: none;
    }

    .contents {
        padding-left: 0;
    }

    .section {
        padding: 10px 30px 80px;
    }
}

/*
|--------------------------------------------------------------------------
|  max-width: 601px
|--------------------------------------------------------------------------
*/

@media screen and (max-width: 601px) {
    /* common -------------*/ 
    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }
    
    /* navigation -------------*/ 
    .header-logo {
        padding-top: 0;
    }
    
    /* contents -------------*/ 
    .wrapper {
        top: 56px;
    }
    
    /* index -------------*/ 
    .top-section {
        height: 200px;
    }

    .top-section__title {
        font-size: 22px;
    }

    .rank-section {
        padding: 10px 10px;
    }

    .section__title {
        text-align: center;
        font-size: 25px;
    }

    .rank-section__items {
        justify-content: center;
    }

    .rank-section__item {
        width: 330px;
        margin-right: 0;
    }

    .current-link {
        display: none;
    }
}